<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LamanHub</title>
    <link rel="icon" type="image/svg+xml" href="/lamanhub.svg" />
    <link rel="stylesheet" href="/src/assets/index.css" />
  </head>

  <body>
    <img src="/lamanhub.svg" class="logo" />
    <h1 class="title">LamanHub</h1>
    <p class="description">Your project is ready to be developed!</p>
    <a href="https://docs.lamanhub.site" class="btn">Read Docs</a>
  </body>
</html>
